body {
  margin: 0;
  padding: 0;
  font-family: "Fira Mono", system-ui, Arial, Helvetica;
  text-align: center;
  margin-top: 0px;
  overflow: hidden;
  position: relative;
  vertical-align: center;
}

h1 {
  font-size: 140px;
  margin: 0px;
  padding-bottom: 10px;
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  display: block;
  margin: auto;
  margin-bottom: 12px;
  width: 200px;
}

#container {
  width: 90%;
  padding: 8px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: fit-content;
}

.status-indicator {
  display: none;
  position: absolute;
  font-size: 30px;
}

.top-right {
  top: 0;
  right: 32;
}

.bottom-left {
  bottom: 0;
  left: 32;
}

#text-area {
  position: relative;
  margin: auto;
}

#title {
  text-align: center;
  font-size: 32px;
}

.flipped {
  transform: rotate(180deg);
}
